.page-404{
  .error-msg{
    text-align: center;
    .error-text{
      margin-top: 2rem;
      font-size: xx-large;
      font-weight: bold;
      color: lightgray;
    }
    .error-img{
      margin-top: 2.5rem;
    }
  }
}