.photo-card{
  .display-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .display-grid{
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .photo-title{
    text-transform: capitalize;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}